@import "tailwindcss";

.nav-item{ @apply flex items-center gap-3 rounded-xl px-3 py-2 text-sm font-medium text-slate-700 hover:bg-slate-50; }
.nav-active{ @apply bg-blue-50 text-blue-700 border border-blue-100 font-semibold; }
.icon{ @apply h-9 w-9 rounded-xl bg-slate-100 flex items-center justify-center; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}